<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduationproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".login.Session"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".community.activity.PostActivity"></activity>
        <activity android:name=".community.activity.PostCreateActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".community.activity.PostUpdateActivity" />

        <activity android:name=".community.activity.MyGroupActivity" />
        <activity android:name=".community.activity.GroupCreateActivity" />

        <activity android:name=".community.activity.ChatingActivity" />
        <activity android:name=".community.activity.InvitingActivity" />
        <activity android:name=".community.activity.ChatServiceActivity" />
        <activity android:name=".community.activity.SearchResultActivity" />
        <activity
            android:name=".community.activity.CommunityMainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".mainActivityViwePager.moreViewActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UploadedFormEditableActivity" />
        <activity android:name=".result.IndividualResultActivity" />
        <activity android:name=".result.ResultActivity" />
        <activity android:name=".form.FormActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.WordleClickedActivity" />
        <activity
            android:name=".service.ServiceTabActivity"
            android:label="@string/title_activity_service_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServiceSelectActivicy" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <service android:name=".messageservice.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".widget.WidgetRemoteViewsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".widget.WidgetUpdateService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".widget.HomeSurveyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name=".widget.HomeSurveyWidget.ACTION_REFRESH_PRESSED"/>
                <action android:name=".widget.HomeSurveyWidget.ACTION_CONFIGURE_FINISHED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_survey_widget_info" />
        </receiver>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>